$primary-color: rgb(59, 59, 59);
$progressing-color: lightgreen;
@mixin grid-rows-template {
    display: grid;
        grid-template-rows: auto auto;
        grid-row-gap: 20px;
        justify-items: center;
        -webkit-box-align: left;
            -ms-flex-align: left;
                align-items: left;
        margin-top: 20px;
}


.shipping-label-maker {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 100px;
    border: 2px solid $primary-color;
    padding: 20px;
}

h3 {
    margin-top: 0;
}

.progress-bar {
    position: relative;
    height: 20px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid $primary-color;
    margin-bottom: 20px;
}

.filler {
    background: $progressing-color;
    height: 100%;
    border-radius: inherit;
    -webkit-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

input {
    border: 1px solid $primary-color;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    padding: .5rem;
    line-height: 1;
    border-radius: .25rem;
    font-size: 12px;
    text-align: left;
}

button {
    @extend input;
    text-align: center;
    font-size: 1rem;
    margin: 10px;
}

button:focus {
    outline: none;
}

button:hover {
    color: white;
    background-color: $primary-color;
    border: $primary-color;
}

.action-btns {
    text-align: center;
}

.address-form {
    form {
        @include grid-rows-template;
        grid-template-columns: auto auto auto;
        grid-column-gap: 20px;

        input {
            width: 90%;
        }
    }

    #form-header {
        margin-bottom: 20px;
    }
}

.weight-step {
    @include grid-rows-template;
}

.delivery-methods {
    text-align: center;

    button {
        width: 35%;
    }

    button:focus {
        color: white;
        background-color: lightblue;
        border: 1px $primary-color;
    }
}

.confirmationPage {
    .information {
        @include grid-rows-template;
        grid-template-rows: auto auto auto auto auto;
    }
}

#confirm-btn {
    background-color: $progressing-color;
    color: white;
    border: 1px solid $progressing-color;
}

#confirm-btn:hover {
    background-color: white;
    color: $progressing-color;
    border: 1px solid $progressing-color;
}

#confirm-btn:focus {
    @extend #confirm-btn:hover;
    background-color: rgb(101, 235, 101);
    color: white;
}

.shipping-label {
    @include grid-rows-template;
    grid-template-rows: auto auto auto auto auto;
}

